.pagination {
  display: flex;
  justify-content: center;
}

.pagination ul {
  display: flex;
  flex-wrap: wrap;
  background: #e5e5e5;
  padding: 8px;
}
.pagination ul li {
  color: #000000;
  list-style: none;
  line-height: 1.33;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}
.pagination ul li.numb {
  list-style: none;
  height: 40px;
  width: 40px;
  margin: 0 1px;
  line-height: 45px;
  border-radius: 5px;
}
.pagination ul li.numb.first {
  margin: 0px 1px 0 4px;
}
.pagination ul li.numb.last {
  margin: 0px -15px 0 1px;
}
.pagination ul li.dots {
  font-size: 22px;
  cursor: default;
}
.pagination ul li.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  padding: 0 20px;
  border-radius: 5px;
  background-color: #f7f7f7;
  border: none;
}
.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
  color: #fff;
  background: #ff6b08;
}
