.pagination {
  display: flex;
  justify-content: center;

  & ul {
    display: flex;
    flex-wrap: wrap;
    background: #e5e5e5;
    padding: 8px;

    & li {
      color: #000000;
      list-style: none;
      line-height: 1.33;
      text-align: center;
      font-size: 12px;
      font-weight: 500;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s ease;
    }
  }

  .numb,
  .dots {
    list-style: none;
    height: 40px;
    width: 40px;
    margin: 0 1px;
    line-height: 45px;
    border-radius: 5px;
  }

  .first {
    margin: 0px 1px 0 4px;
  }

  .last {
    margin: 0px -15px 0 1px;
  }

  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: default;
  }

  %icons-setting {
    background-repeat: no-repeat;
    background-position: center;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 0 20px;
    border-radius: 5px;
    background-color: #f7f7f7;
    border: none;

    &.prev {
      background-image: url(./images/arrow-left.svg);
      @extend %icons-setting;

      &:hover {
        background-image: url(./images/arrow-left-hover.svg);
      }
    }

    &.next {
      background-image: url(./images//arrow-right.svg);
      @extend %icons-setting;

      &:hover {
        background-image: url(./images/arrow-right-hover.svg);
      }
    }
  }

  & .active,
  & .numb:hover,
  & .first:hover,
  & .last:hover {
    color: #fff;
    background: #ff6b08;
  }
}

.display-none {
  display: none !important;
}


