<header class="library">
  <div class="container">
    <div class="nav__wrapper">
      <a class="header__logo" href="./index.html">
        <svg class="header__icon">
          <use href="./images/sprite.svg#film"></use>
        </svg>
        <h1 class="header__title">Filmoteka</h1></a
      >

      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="./index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link nav__link--active" href="./myLibrary.html"
            >My Library</a
          >
        </li>
        <li class="nav__item nav__signIn">
          <a class="nav__link signIn-link" href="#">Sign in</a>
        </li>
        <li class="nav__item nav__logout">
          <a class="nav__link logout-link" href="#">Log out</a>
        </li>
      </ul>
    </div>
    <div class="btn__wrapper">
      <button class="btn btn__watched" data-display-selector="watched">
        Watched
      </button>
      <button class="btn btn--active btn__queue" data-display-selector="queue">
        Queue
      </button>
    </div>
  </div>
</header>
