<header>
  <div class="library__wrapper">
    <div class="nav__wrapper">
      <a class="header__logo" href="./index.html">
        <svg class="header__icon">
          <use href="./images/sprite.svg#film"></use>
        </svg>
        <h1 class="header__title">Filmoteka</h1></a
      >

      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="./index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link nav__link--active" href="./myLibrary.html"
            >My Library</a
          >
        </li>
      </ul>
    </div>
    <div class="btn__wrapper">
      <button class="btn btn__watched">Watched</button>
      <button class="btn btn__queue">Queue</button>
    </div>
  </div>
</header>
