.popular-movies{
  padding-top: 20px;
  padding-bottom: 40px;
}



@media screen and(min-width: 768px) {
  .popular-movies {
  padding-top: 60px;
    padding-bottom: 60px;

}
}

// @media screen and(min-width: 1024px) {

// }