.container{
margin: 20 auto 40;
width: 280px;
border: 1px solid red;
}

@media screen and(min-width: 768px) {
  .container{
    margin: 60px auto;
    width: 616px;
  }
}

@media screen and(min-width: 1024px) {
  .container {
    width: 882px;
  }
}