@import '../../scss/mixin';
@import '../../scss/variables';

.account {
  &__backdrop {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

    // Mobile url bar overflow bugfix
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    padding: 0 20px;

    background-color: rgba(0, 0, 0, 0.2);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 99;
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 0px;
    background-color: transparent;
    border: none;
    z-index: 120;
    &-btn {
      width: 25px;
      height: 25px;
    }
  }

  &__side {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 98%;
    max-width: 500px;
    height: 600px;
    background: $modalBgColor;
    border-radius: 15px;

    &--left {
      overflow: hidden;
      padding: 0 20px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      height: 100%;
      background: #fafafa;
      border-right: solid 1px #ddd;
    }

    &--right {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 100%;
      height: 100%;
    }
  }

  &__link {
    text-decoration: none;
    color: $iconColor;
    font-weight: $mainFontWieght;
    &-text {
      display: none;
    }
  }

  &__icon {
    fill: $iconColor;
    width: 25px;
    height: 20px;
  }

  &__title {
    margin: 10px 0;
    color: $fontColor;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 20px;
    color: $mainFontColor;
    font-size: 12px;
  }

  &__uploader {
    display: none;
  }

  &__img {
    margin-top: 20px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-image: url('https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }

  &__form {
    &--wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-field {
      &:not(:first-child) {
      margin-top: 15px;
    }

      height: 50px;
      width: 100%;
      &::placeholder {
        color: #333;
      }
    }
    &-data {
      width: 100%;
    }
    &-confirm {
      width: 100%;
      margin: 15px 0;
    }
    &-input {
      height: 100%;
      width: 100%;
      padding: 0 5px;
      border: none;
      outline: none;
      font-size: 14px;
      border-bottom: 2px solid #ccc;
      border-top: 2px solid transparent;
      transition: border-bottom-color 0.4s ease;

      &:is(:focus, :hover) {
        border-bottom-color: #ff6b08;
      }
    }

    &-button {
      width: 80%;
      height: 40px;
      margin-top: 30px;
      border: none;
      color: $secondFontColor;
      font-size: 14px;
      font-weight: $mainFontWieght;
      letter-spacing: 1px;
      border-radius: 6px;
      background-color: #ff6b08;
      cursor: pointer;
      transition: all 0.6s ease;

      &:hover {
        background-color: #fbb221;
      }
    }
  }
}

.info {
  &__photo {
    width: 150px;
    height: 150px;
    margin: 15px auto 20px auto;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  &__label {
    font-size: 12px;
    font-weight: $mainFontWieght;
    color: $fontColor;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__value {
    display: block;
    margin-top: 2px;
    font-weight: $secondFontWieght;
  }
}

.checked {
  fill: #ff6b08;
}

#info,
#general,
#avatar,
#password,
#delete-account {
  height: 100%;
  display: none;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

#info.active-card,
#general.active-card,
#password.active-card,
#avatar.active-card,
#delete-account.active-card {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

@media screen and (min-width: 425px) {
  .account {
    &__side {
      &--right {
        padding: 25px;
      }
    }

    &__icon {
      width: 30px;
      height: 25px;
    }

    &__title {
      font-size: 18px;
    }

    &__text {
      font-size: 14px;
    }

    &__form {
      &-input {
        padding: 0 10px;
        font-size: 16px;
      }
    }

    &__img {
      margin-top: 20px;
      width: 170px;
      height: 170px;
    }
  }

  .info {
    &__value {
      display: inline;
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .account {
    &__side {
      &--left {
        padding: 0 30px;
      }

      &--right {
        padding: 20px 30px;
      }
    }

    &__close {
      &-btn {
        width: 30px;
        height: 30px;
      }
    }

    &__icon {
      width: 35px;
      height: 30px;
    }

    &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 14px;
    }

    &__form {
      &-input {
        padding: 0 10px;
        font-size: 16px;
      }

      &-button {
        height: 50px;
        margin-top: 25px;
        font-size: 18px;
      }
    }

    &__img {
      margin-top: 50px;
      width: 200px;
      height: 200px;
    }
  }

  .info {
    &__label {
      font-size: 14px;
    }

    &__value {
      display: inline;
      margin-top: 0;
    }
  }
}
@media screen and (min-width: 1024px) {
  .account {
    &__side {
      max-width: 700px;

      &--left {
        padding: 0 40px;
      }

      &--right {
        padding: 20px 50px;
      }
    }

    &__close {
      &-btn {
        width: 40px;
        height: 40px;
      }
    }

    &__icon {
      width: 40px;
      height: 35px;
    }

    &__title {
      font-size: 22px;
    }

    &__text {
      font-size: 14px;
    }

    &__form {
      &-input {
        padding: 0 15px;
        font-size: 18px;
      }

      &-button {
        height: 50px;
        margin-top: 25px;
        font-size: 18px;
      }
    }

    &__img {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 250px;
      height: 250px;
    }
  }

  .info {
    &__photo {
      margin: 15px auto 30px auto;
    }
  }
}

.is-hidden-account {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
