<div class="account--backdrop">
  <div class="account__side">
    <button class="account__close" data-account-close>
      <svg class="account__close-btn">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="account__side--left">
      <a href="#general" class="account__link general" title="general"><svg class="account__icon">
        <use href="./images/sprite.svg#profile"></use>
      </svg>General</a>
      <a href="#password" class="account__link password" title="password">Password</a>
      <a href="#avatar" class="account__link avatar" title="avatar">Avatar</a>
      <a href="#delete-account" class="account__link delete-account" title="delete-account">Delete account</a>
    </div>
    <div class="account__side--right">
      <div id="general" class="active-side">
        <h3 class="account__title">General</h3>

        <p class="account__text">Eam putant latine eu, in admodum ancillae molestie his, duo in accommodare definitionem
          signiferumque. Has
          dictas aliquam consectetuer et. Sea cu dolore incorrupte. Vero fabulas tincidunt duo eu, pro in sententiae
          cotidieque. Rebum omnium persequeris has ad, veri adhuc nemore ut qui. In sit maluisset reformidans,
          argumentum
          dissentiet mei te.</p>
      </div>

      <div id="password">
        <h3 class="account__title">Password</h3>

        <p class="account__text">Eam putant latine eu, in admodum ancillae molestie his, duo in accommodare definitionem
          signiferumque. Has
          dictas aliquam consectetuer et. Sea cu dolore incorrupte. Vero fabulas tincidunt duo eu, pro in sententiae
          cotidieque. Rebum omnium persequeris has ad, veri adhuc nemore ut qui. In sit maluisset reformidans,
          argumentum
          dissentiet mei te.</p>
      </div>

      <div id="avatar">
        <h3 class="account__title">Avatar</h3>

        <p class="account__text">Eam putant latine eu, in admodum ancillae molestie his, duo in accommodare definitionem
          signiferumque. Has
          dictas aliquam consectetuer et. Sea cu dolore incorrupte. Vero fabulas tincidunt duo eu, pro in sententiae
          cotidieque. Rebum omnium persequeris has ad, veri adhuc nemore ut qui. In sit maluisset reformidans,
          argumentum
          dissentiet mei te.</p>
      </div>

      <div id="delete-account">
        <h3 class="account__title">Delete Account</h3>

        <p class="account__text">Eam putant latine eu, in admodum ancillae molestie his, duo in accommodare definitionem
          signiferumque. Has
          dictas aliquam consectetuer et. Sea cu dolore incorrupte. Vero fabulas tincidunt duo eu, pro in sententiae
          cotidieque. Rebum omnium persequeris has ad, veri adhuc nemore ut qui. In sit maluisset reformidans,
          argumentum
          dissentiet mei te.</p>
      </div>

    </div>
  </div>
</div>
