<div class="account__backdrop is-hidden-account" data-account>
  <div class="account__side">
    <button class="account__close" data-account-close>
      <svg class="account__close-btn">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="account__side--left">
      <a href="#info" class="account__link info" title="User information">
        <svg class="account__icon checked">
          <use href="./images/sprite.svg#profile"></use>
        </svg>
      </a>
      <a href="#general" class="account__link general" title="User data update">
        <svg class="account__icon">
          <use href="./images/sprite.svg#general"></use>
        </svg>
      </a>
      <a href="#password" class="account__link password" title="Password change">
        <svg class="account__icon">
          <use href="./images/sprite.svg#key"></use>
        </svg>
      </a>
      <a href="#avatar" class="account__link avatar" title="Avatar update">
        <svg class="account__icon">
          <use href="./images/sprite.svg#user"></use>
        </svg>
      </a>
      <a href="#delete-account" class="account__link delete-account" title="Account deletion">
        <svg class="account__icon">
          <use href="./images/sprite.svg#bin"></use>
        </svg>
      </a>
    </div>
    <div class="account__side--right">
      <div id="info" class="account__card active-card">
        <h3 class="account__title">User information</h3>
        <div class="account__info">
          <img class="info__photo" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Profile photo">

          <p class="info__label">Username: 
            <span class="info__value info__name"></span>
          </p>

          <p class="info__label">E-mail: 
            <span class="info__value info__email"></span>
          </p>

          <p class="info__label">Phone number: 
            <span class="info__value info__phone"></span>
          </p>
        </div>
      </div>

      <div id="general" class="account__card">
        <h3 class="account__title">User data update</h3>
        <form class="general-form account__form--wrapper" action="#">
          <div class="account__form-field">
            <input class="account__form-input" type="text" name="username" autocomplete="username"
              placeholder="Enter your username" />
          </div>

          <div class="account__form-field">
            <input class="account__form-input" type="tel" name="phoneNumber" autocomplete="phoneNumber"
              placeholder="Enter your phone number" />
          </div>

          <div class="account__form-field">
            <input class="account__form-input" type="email" name="newEmail" autocomplete="newEmail"
              placeholder="Enter your new e-mail" />
          </div>

          <div class="account__form-field">
            <input class="account__form-input" type="email" name="currentEmail" autocomplete="currentEmail"
              placeholder="Confirm with current e-mail" />
          </div>

          <div class="account__form-field">
            <input class="account__form-input" type="password" name="confirmPassword"
              autocomplete="confirmPassword" placeholder="Confirm your password" />
          </div>

          <button type="submit" class="account__form-button general-btn">
            Update Profile
          </button>
        </form>
      </div>

      <div id="password" class="account__card ">
        <h3 class="account__title">Password change</h3>

        <form class="password-form account__form--wrapper" action="#">
          <div class="account__form-field">
            <input class="account__form-input" type="password" name="oldPassword" autocomplete="oldPassword"
              placeholder="Old password" required />
          </div>

          <div class="account__form-field">
            <input class="account__form-input" type="password" name="newPassword" autocomplete="newPassword"
              placeholder="Create a new password" required />
          </div>

          <div class="account__form-field">
            <input class="account__form-input" type="password" name="confirmNewPassword"
              autocomplete="confirmNewPassword" placeholder="Confirm a new password" required />
          </div>

          <button type="submit" class="account__form-button password-btn">
            Save Change
          </button>
        </form>
      </div>

      <div id="avatar" class="account__card ">
        <h3 class="account__title">Avatar update</h3>
        <p class="account__text">Click on the picture to choose a new one.
        </p>
        <form class="avatar-form account__form--wrapper" action="#">
          <label class="account__img" for="imageUpload">
            <input class="account__uploader" type='file' id="imageUpload" accept=".png, .jpg, .jpeg" /></label>
          <button type="submit" class="account__form-button avatar-btn">
            Save Change
          </button>
        </form>

      </div>
      <div id="delete-account" class="account__card">
        <h3 class="account__title">Account deletion</h3>

        <p class="account__text">Are you sure you want to delete your account?
        </p>

        <form class="password-form account__form--wrapper" action="#">
          <div class="account__form-field">
            <input class="account__form-input" type="password" name="password" autocomplete="password"
              placeholder="Enter your password" required />
          </div>
          <button type="submit" class="account__form-button password-btn">
            Confirm
          </button>
        </form>
      </div>

    </div>
  </div>
</div>