@import '../../scss/mixin';
@import '../../scss/variables';


.sign__window.active .login {
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.36s ease, opacity 0.3s ease;
}

.sign__window .signup {
  opacity: 0;
  transition: opacity 0.18s ease;
}

.sign__window.active .signup {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.logo{
  &--wrapper{
    margin-bottom: 20px;
  }

  &__link{
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon{
    margin-right: 15px;
    width: 20px;
    height: 20px;
  }
}

.sign {
  &--backdrop {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 25%, rgb(245, 132, 58) 100%);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 99;
  }
  &__close{
    position: absolute;
    top:8px;
    right: 8px;
    background-color: transparent;
    border: none;
    &-btn{
      width: 30px;
      height: 30px;
    }
  }
  &__window  {
    position: relative;
    max-width: 430px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  &__form {
    width: 50%;
    padding: 20px;
    border-radius: 12px;
    background: #fff;
    transition: margin-left 0.36s ease;

    &--wrapper {
      display: flex;
      align-items: stretch;
      width: 200%;
      transition: height 0.4s ease;
    }

    &-title {
      position: relative;
      font-size: 25px;
      font-weight: 600;
    }

    &-field {
      position: relative;
      height: 50px;
      width: 100%;
      margin-top: 30px;

      &::placeholder {
        color: #333;
      }
    }

    &-input {
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 0 15px;
      border: none;
      outline: none;
      font-size: 16px;
      border-bottom: 2px solid #ccc;
      border-top: 2px solid transparent;
      transition: border-bottom-color 0.4s ease;

      &:is(:focus, :valid) {
        border-bottom-color: #ff6b08;
      }
    }

    &-checkbox{
      display: flex;
      align-items: center;

      &--wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }

      &--box {
        margin-right: 8px;
        accent-color: #ff6b08;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      color: #333;
      font-size: 12px;
      &--reset{
        padding-top: 20px;
      }

      &--link {
        color: #ff6b08;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    &-button {
      width: 100%;
      height: 50px;
      margin-top: 35px;
      border: none;
      color: #000;
      font-size: 17px;
      font-weight: 500;
      letter-spacing: 1px;
      border-radius: 6px;
      background-color: #ff6b08;
      cursor: pointer;
      transition: all 0.6s ease;

      &:hover {
        background-color: #fbb221;
      }
    }
    &-footer {
      margin-top: 30px;
      text-align: center;
    }
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.reset__window{
  height: 500px;
  box-shadow: none;
}

@media screen and (min-width: 480px) {
  .logo {
      &__link {
        font-size: 22px;
      }
      &__icon {
        width: 30px;
        height: 30px;
      }
    }

    .sign {
      &__form {
        padding: 30px;

        &-title {
          font-size: 27px;
        }

        &-text {
          display: flex;
          flex-direction: row;
          justify-content: center;
          &--link{
           margin-left: 10px;
          }
      }
    }
}
}