<div class="main-backdrop is-hidden" data-team-modal>
  <div class="modal" id="modalWindow" data-team-modal-window>
    <button class="modal__close" data-team-modal-close>
      <svg class="modal__close-btn">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="team--wrapper">
      <div class="team__heading">
        <p class="team__text">Developed with</p>
        <img class="team__icon" src="./components/footer/img/footer-heart.svg" alt="heart">
        <p class="team__text">by GoIT Students
        </p>
      </div>
      <ul class="students--wrapper">
        <li class="student">
          <a href="https://www.linkedin.com/in/anna-ojdana/" class="student__linkedin" target="_blank"
            rel="noopener"><img class="student__img" src="https://cdn.pixabay.com/photo/2016/04/22/04/57/graduation-1345143_960_720.png"
              alt="zdjęcie studenta">
            <p class="student__name">Anna Ojdana</p></a>
        </li>
        <li class="student">
          <a href="https://www.linkedin.com/in/bart%C5%82omiej-kita-a7b63552/" class="student__linkedin" target="_blank"
            rel="noopener"><img class="student__img" src="https://cdn.pixabay.com/photo/2016/04/22/04/57/graduation-1345143_960_720.png"
              alt="zdjęcie studenta">
            <p class="student__name">Bartłomiej Kita</p></a>
        </li>
        <li class="student">
          <a href="https://www.linkedin.com/in/dawid-marek-547717236/" class="student__linkedin" target="_blank"
            rel="noopener"><img class="student__img" src="https://cdn.pixabay.com/photo/2016/04/22/04/57/graduation-1345143_960_720.png"
              alt="zdjęcie studenta">
            <p class="student__name">Dawid Marek</p></a>
        </li>
        <li class="student">
          <a href="# class="student__linkedin" target="_blank"
            rel="noopener"><img class="student__img" src="https://cdn.pixabay.com/photo/2016/04/22/04/57/graduation-1345143_960_720.png"
              alt="zdjęcie studenta">
            <p class="student__name">Marek Kalus</p></a>
        </li>
        <li class="student">
          <a href="#" class="student__linkedin" target="_blank"
            rel="noopener"><img class="student__img" src="https://cdn.pixabay.com/photo/2016/04/22/04/57/graduation-1345143_960_720.png"
              alt="zdjęcie studenta">
            <p class="student__name">Patryk Tomasz Tomaszek</p></a>
        </li>
        <li class="student">
          <a href="#" class="student__linkedin" target="_blank"
            rel="noopener"><img class="student__img" src="https://cdn.pixabay.com/photo/2016/04/22/04/57/graduation-1345143_960_720.png"
              alt="zdjęcie studenta">
            <p class="student__name">Rafał Gawlak</p></a>
        </li>
      </ul>
    </div>
  </div>
</div>