<div class="main-backdrop is-hidden" data-team-modal>
  <div class="modal" id="modalWindow" data-team-modal-window>
    <button class="modal__close" data-team-modal-close>
      <svg class="modal__close-btn">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="team--wrapper">
      <div class="team__heading">
        <p class="team__text">Developed with</p>
        <img class="team__icon" src="./components/footer/img/footer-heart.svg" alt="heart" />
        <p class="team__text">by GoIT Students</p>
      </div>
      <ul class="students--wrapper">
        <li class="student">
          <a href="https://www.linkedin.com/in/anna-ojdana/" class="student__linkedin" target="_blank" rel="noopener"
            loading="lazy">
            <picture>
              <source class="student__img" srcset="
                ./images/anna_ojdana_profile.jpg    1x,
                ./images/anna_ojdana_profile@2x.png 2x
              " />
              <img class="student__img" src="./images/anna_ojdana_profile.jpg" alt="student profile picture" />
            </picture>
            <p class="student__name">Anna Ojdana</p>
          </a>
        </li>
        <li class="student">
          <a href="https://www.linkedin.com/in/bart%C5%82omiej-kita-a7b63552/" class="student__linkedin" target="_blank"
            rel="noopener" loading="lazy">
            <picture>
              <source class="student__img" srcset="
                ./images/bartlomiej_kita_profile.jpg    1x,
                ./images/bartlomiej_kita_profile@2x.png 2x
              " />
              <img class="student__img" src="./images/bartlomiej_kita_profile.jpg" alt="student profile picture" />
            </picture>
            <p class="student__name">Bartłomiej Kita</p>
          </a>
        </li>
        <li class="student">
          <a href="https://www.linkedin.com/in/dawid-marek-547717236/" class="student__linkedin" target="_blank"
            rel="noopener" loading="lazy"><picture>
              <source class="student__img" srcset="
                ./images/dawid_marek_profile.jpg    1x,
                ./images/dawid_marek_profile@2x.png 2x
              " />
              <img class="student__img" src="./images/dawid_marek_profile.jpg" alt="student profile picture" />
            </picture>
            <p class="student__name">Dawid Marek</p>
          </a>
        </li>
        <li class="student">
          <a href="https://www.linkedin.com/in/marek-kalus-aa3ba8244/" class="student__linkedin" target="_blank"
            rel="noopener"><picture>
              <source class="student__img" srcset="
                ./images/marek_kalus_profile.jpg    1x,
                ./images/marek_kalus_profile@2x.png 2x
              " />
              <img class="student__img" src="./images/marek_kalus_profile.jpg" alt="student profile picture" />
            </picture>
            <p class="student__name">Marek Kalus</p>
          </a>
        </li>
        <li class="student">
          <a href="https://www.linkedin.com/in/patryk-tomasz-tomaszek-879ba5244/" class="student__linkedin"
            target="_blank" rel="noopener" loading="lazy"><img class="student__img"
              src="https://cdn.pixabay.com/photo/2016/04/22/04/57/graduation-1345143_960_720.png"
              alt="student profile picture" />
            <p class="student__name">Patryk Tomasz Tomaszek</p>
          </a>
        </li>
        <li class="student">
          <a href="https://www.linkedin.com/in/rafa%C5%82-gawlak-220912201/" class="student__linkedin" target="_blank"
            rel="noopener" loading="lazy"><img class="student__img"
              src="https://cdn.pixabay.com/photo/2016/04/22/04/57/graduation-1345143_960_720.png"
              alt="student profile picture" />
            <p class="student__name">Rafał Gawlak</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>