@import '../../scss/mixin';
@import '../../scss/variables';

@keyframes flash {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.movies {
  padding-top: 20px;
  padding-bottom: 20px;

  &__cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
  }

  &__empty-info {
    width: 100%;
    text-align: center;
  }
}

.item {
  width: 280px;
  min-height: 470px;
  cursor: pointer;
  // -webkit-box-shadow: 0px 0px 10px 15px rgba(0,0,0,0.7);
  // -moz-box-shadow: 0px 0px 10px 15px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.6);
  border-radius: 15px;

  &__image {
    width: 100%;
    height: 402px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    &:hover {
      opacity: 1;
      animation: flash 1.8s;
    }
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 5px;
    @include size(12px);
    line-height: 1.333;
    text-transform: uppercase;
  }

  &__genres,
  &__separator,
  &__year {
    display: inline;
    @include size(12px);
    line-height: 1.172;
    font-weight: $mainFontWieght;
    color: $mainFontColor;
    margin-left: 5px;
  }

  &__rating {
    display: inline;
    font-weight: $mainFontWieght;
    @include size(12px);
    line-height: 1.16;
    color: $secondFontColor;
    background-color: $mainBgColor;
    text-align: center;
    width: 36px;
    height: 16px;
    border-radius: 5px;
    padding: 1px 6px;
    margin-left: 10px;
  }
}

@media screen and(min-width: 768px) and (max-width: 1023px) {
  .movies {
    padding-top: 60px;
    padding-bottom: 60px;

    &__cards {
      justify-content: space-between;
      margin-top: 60px;
    }
  }

  .item {
    width: 294px;

    &__image {
      width: 100%;
      height: 398px;
    }
  }
}

@media screen and(min-width: 1024px) {
  .movies {
    padding-top: 60px;
    padding-bottom: 60px;
    &__cards {
      gap: 20px 21px;
      justify-content: left;
      margin-top: 60px;
    }
  }
}
