<div class="card">
    <!-- id buttona jest id movie -->
    <button id="453395"  class="movie" data-modal-movie>
        <!-- adress plakatu to połączony string "https://image.tmdb.org/t/p/w500" i poster_path (z API)
        wartość alt to original_title z API -->
        <img class="movie_image" src="https://image.tmdb.org/t/p/w500/9Gtg2DzBhmYamXBS1hKAhiwbBKS.jpg" alt="Doctor Strange in the Multiverse of Madness">
    </button>    <div class="movie_caption">
        <!-- original_title z API  -->
        <p class="movie_title">Doctor Strange in the Multiverse of Madness</p>
        <!-- geners trzeba przefiltrować, rok należy wyciągnąć z release_date -->
        <p class="movie_genres">Fantasy, Action, Adventure<span class="movie_year"> 2022</span></p></div>
    
</div>

<div class="card">
    <!-- id buttona jest id movie -->
    <button id="759175" class="movie" data-modal-movie>
        <!-- adress plakatu to połączony string "https://image.tmdb.org/t/p/w500" i poster_path (z API)
        wartość alt to original_title z API -->
        <img class="movie_image" src="https://image.tmdb.org/t/p/w500/9pCoqX24a6rE981fY1O3PmhiwrB.jpg"
            alt="The Princess">
    </button>        <div class="movie_caption">
        <!-- original_title z API  -->
        <p class="movie_title">The Princess</p>
        <!-- geners trzeba przefiltrować, rok należy wyciągnąć z release_date -->
        <p class="movie_genres">Fantasy, Action<span class="movie_year"> 2022</span></p></div>
    
</div>


<!-- <script src="./movieCard.js" type="module"></script> -->
