@import '../../scss/mixin';
@import '../../scss/variables';

///////////--HEADER--///////////
.header {
  height: 230px;
  background-color: $headerBgColor;
  background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../../images/header__mobile-bg.png);
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../../images/header__mobile-bg@x2.png);
    background-size: cover;
  }
}

.nav__wrapper {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding-top: 45px;
  padding-bottom: 45px;
  justify-content: space-between;
  & a {
    color: white;
    display: flex;
    align-items: baseline;
    text-decoration: none;
  }
}

.nav__list {
  display: flex;
}

.nav__item {
  color: $secondFontColor;
  text-transform: uppercase;
  font-weight: $mainFontWieght;
  @include size(12px);
  line-height: 1.167;

  &:last-child {
    padding-left: 40px;
  }
}

.nav__link {
  color: white;
  position: relative;

  &::after {
    content: '';
    width: 0;
    height: 3px;
    background: $mainBgColor;
    border-radius: 2px;
    position: absolute;
    bottom: -6px;
    right: 0;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover:after,
  &:focus:after {
    width: 100%;
    left: 0;
  }
}

.nav__link.nav__link--active {
  position: relative;
}

.nav__link.nav__link--active::after {
  content: '';
  width: 100%;
  height: 3px;
  background: $mainBgColor;
  border-radius: 2px;
  position: absolute;
  bottom: -6px;
}

.header__title {
  display: none;
  color: $secondFontColor;
  padding-left: 12px;
  font-weight: $mainFontWieght;
  @include size(30px);
  line-height: 1.172;
}

.header__icon {
  height: 24px;
  width: 24px;
}

///////////--INPUT--///////////

.header__input {
  max-width: 336px;
  width: 100%;
  background-color: #00000000;
  border: none;
  border-bottom: 0.5px solid #fff;
  outline: none;
  color: $secondFontColor;
  padding-left: 1px;
  margin-right: -12px;

  &::placeholder {
    color: $secondFontColor;
    @include size(14px);
  }
}

.header__input-wrapper {
  display: flex;
  justify-content: center;
}

.input__icon {
  height: 12px;
  width: 12px;
  cursor: pointer;
}

.not-found {
  color: #ff001b;
  @include size(14px);
  font-weight: $secondFontWieght;
  line-height: 1.143;
  margin-top: 22px;
  display: flex;
  justify-content: center;
}

.is-hidden {
  display: none;
}

@media screen and (min-width: 480px) {
  .header__title {
    display: inline-block;
  }
}

///////////--TABLET--///////////

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../../images/header__tablet-bg.png);
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header {
      background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../../images/header__tablet-bg@x2.png);
      background-size: cover;
    }
  }
}

///////////--DESKTOP--///////////

@media screen and (min-width: 1024px) {
  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../../images/header__desktop-bg.png);
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header {
      background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../../images/header__desktop-bg@x2.png);
      background-size: cover;
    }
  }
}
