<header class="header">
  <div class="container">
    <div class="nav__wrapper">
      <a class="header__logo" href="./index.html">
        <svg class="header__icon">
          <use href="./images/sprite.svg#film"></use>
        </svg>
        <h1 class="header__title">Filmoteka</h1>
      </a>

      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link nav__link--active" href="./index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./myLibrary.html">My Library</a>
        </li>
        <li class="nav__item">
          <a class="nav__link signIn-link" href="#">Sign in</a>
        </li>
      </ul>
    </div>
    <div class="header__input-wrapper">
      <input type="text" class="header__input" id="input" placeholder="Search For The Movie"  data-input />
      <svg class="input__icon" data-search>
        <use href="./images/sprite.svg#search"></use>
      </svg>
    </div>
    <p class="not-found is-hidden">Search result not successful. Enter the correct movie name.</p>
  </div>
</header>