<div class="main-backdrop" data-modal>
  <div class="modal" id="modalWindow" data-modal-window>
    <button class="modal__close">
      <svg class="modal__close-btn">
        <use href="./images/close.svg"></use>
      </svg>
    </button>
  </div>


  <!-- <button class="modal-window__close-btn" data-modal-close>
        <img src="./components/movieModal/close.png" alt="close" width="30px" height="30px">
    </button>
    <!-- Id filmu to Id klikniętej karty -->
  <!-- <div class="movie__wrap">
        <!-- poster_path -->
  <!-- <img class="movie__wrap-img" src="https://image.tmdb.org/t/p/w500/9Gtg2DzBhmYamXBS1hKAhiwbBKS.jpg" alt="Doctor Strange in the Multiverse of Madness">
        <!-- backdrop_path -->
  <!-- <img class="movie__wrap-img-desktop" src="https://image.tmdb.org/t/p/w500/wcKFYIiVDvRURrzglV9kGu7fpfY.jpg"
            alt="Doctor Strange in the Multiverse of Madness">
       <div class="movie__wrap-nomobile"> <h3 class="movie__wrap-title">Doctor Strange in the Multiverse of Madness</h3> -->
  <!-- <div class="movie__wrap-data">
            <div class="data-name">
                <ul class="data-name-list">
                    <li class="data-name-list__item">Vote/Votes</li>
                    <li class="data-name-list__item">Popularity</li>
                    <li class="data-name-list__item">Original Title</li>
                    <li class="data-name-list__item">Genre</li>
                </ul>
            </div> -->
  <!-- <div class="data-value">
                <ul class="data-value-list">
                    <li class="data-value-list__item"><span class="vote">7,54</span> / <span class="votes">4025</span></li>
                    <li class="data-value-list__item">7931,5</li>
                    <li class="data-value-list__item"><span class="title"> Doctor Strange in the Multiverse of Madness</span></li>
                    <li class="data-value-list__item">Fantasy, Action, Adventure</li>
                </ul>
            </div> -->

  <!-- </div>
        <p class="about">about</p>
        <p class="about-value">Doctor Strange, with the help of mystical allies both old and new, traverses the mind-bending and dangerous alternate
        realities of the Multiverse to confront a mysterious new adversary.</p>
        <div class="button-wrap">
            <button class="add__watch">add to Watched</button>
            <button class="add__queue">add to queue</button>
        </div> -->

</div>
</div>