<div class="main-backdrop is-hidden" data-modal>
  <div class="modal" id="modalWindow" data-modal-window>
    <button class="modal__close" data-modal-close>
      <svg class="modal__close-btn">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal--wrapper">
      <div class="movie__card--wrapper">
        <div class="img"><!-- SZABLON -->
        <img src="./images/test.png" width="240px" height="357px" alt="" class="modal__image">
        <h2 class="modal__title"> Tytuł</h2>
        <ul class="movie__details">
          <li class="details__item"><span class=" details__label">Vote / Votes</span><span class="details__value">5.0 /
              1234</span></li>
          <li class="details__item"><span class=" details__label">Popularity</span><span class="details__value">100</span></li>
          <li class="details__item"><span class=" details__label">Original Title</span><span class="details__value">Title</span>
          </li>
          <li class="details__item"><span class=" details__label">Genre</span><span class="details__value">Drama</span></li>
        </ul>
        <h3 class="modal__header">About</h3>
        <p class="modal__about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet eos illo et. Maxime quis quasi
          quas inventore nemo itaque numquam velit odio nostrum incidunt, quidem reiciendis! Necessitatibus consequuntur
          voluptas sed.</p>
        <div class="modal__btns--wrapper">
          <button class="modal__btns modal__btns--watch" data-id="123456" data-watched>Add to Watched</button>
          <button class="modal__btns modal__btns--queue" data-id="123456" data-queue>Add to queue</button>
        </div>
        <div class="info">INFO
          Proszę na razie nic tu nie zmieniać
          <div class="modal__btns--wrapper">
            <button class="modal__btns modal__btns--watch" data-name="watched" data-id="453395">add to watched</button>
            <button class="modal__btns modal__btns--queue" data-name="queue" data-id="453395">add to queue</button>
          </div>
        </div>
        <!-- KONIEC SZABLONU -->
        </div>
      </div>
    </div>
  </div>
</div>

