<div class="main-backdrop is-hidden" data-modal>
  <div class="modal" id="modalWindow" data-modal-window>
    <button class="modal__close" data-modal-close>
      <svg class="modal__close-btn">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal--wrapper">
      <div class="movie__card--wrapper">
        <!-- SZABLON -->
        <img class="movie__image" src="./images/test.png" alt="">
        <div class="movie__info">
          <h2 class="movie__title"> Title</h2>
          <ul class="movie__details">
            <li class="details__item"><span class=" details__label">Vote / Votes</span><span class="details__value"><span class="details__rating">5.0</span> /
                1234</span></li>
            <li class="details__item"><span class=" details__label">Popularity</span><span class="details__value">100.2</span></li>
            <li class="details__item"><span class=" details__label">Original Title</span><span class="details__value details__title">Title</span>
            </li>
            <li class="details__item"><span class=" details__label">Genre</span><span class="details__value">Drama</span></li>
          </ul>
          <h3 class="movie__label">About</h3>
          <p class="movie__about">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?</p>
          <div class="modal__btns--wrapper">
            <button class="modal__btns modal__btns--watch" data-name="watched" data-id="453395">Add to Watched</button>
            <button class="modal__btns modal__btns--queue" data-name="queue" data-id="453395">Add to queue</button>
          </div>
        </div>
        <!-- KONIEC SZABLONU -->
      </div>
    </div>
  </div>
</div>

