.main-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal__close {
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  float: right;
}
.modal__close-btn {
  width: 30px;
  height: 30px;
}
.modal--wrapper {
  padding: 48px 20px 41px;
}
.modal__btns {
  width: 112.58px;
  height: 44px;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  background-color: #ffffff;
  text-transform: uppercase;
}
.modal__btns:not(:last-child) {
  margin-right: 15px;
}
.modal__btns--wrapper {
  display: flex;
  justify-content: center;
}
.modal__btns:hover, .modal__btns:active {
  background: #ff6b08;
  border-color: #ff6b08;
  color: #fff;
}

.movie__image {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
}
.movie__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
}
.movie__details {
  margin-bottom: 20px;
}
.movie__label {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  text-transform: uppercase;
}
.movie__about {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  text-align: justify;
}

.details__item {
  display: grid;
  grid-template-columns: 90px 1fr;
  gap: 18px;
}
.details__item:not(:last-child) {
  margin-bottom: 10px;
}
.details__label {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  color: #8C8C8C;
}
.details__value {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
}
.details__rating {
  padding: 1px 10px;
  color: #fff;
  background-color: #ff6b08;
  border-radius: 5px;
}
.details__title {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .main-backdrop {
    padding: 0;
  }
  .modal {
    width: 618px;
    height: auto;
  }
  .modal--wrapper {
    padding: 42px 30px 40px 28px;
  }
  .modal__btns {
    width: 125px;
  }
  .modal__btns--wrapper {
    justify-content: right;
  }
  .movie__card--wrapper {
    display: flex;
  }
  .movie__image {
    align-self: flex-start;
    width: 264px;
    height: auto;
    margin-bottom: 0;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .modal {
    width: 882px;
  }
  .modal--wrapper {
    padding: 50px 30px 40px;
  }
  .modal__btns {
    width: 136px;
  }
  .modal__btns--wrapper {
    justify-content: left;
  }
  .movie__image {
    max-width: 396px;
    width: 100%;
    height: auto;
    margin-right: 30px;
  }
  .movie__info {
    max-width: 396px;
    width: 100%;
  }
  .details__item {
    gap: 62px;
  }
}/*# sourceMappingURL=movieModal.css.map */