@import '../../scss/mixin';
@import '../../scss/variables';

.main-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $modalBgColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &__close {
    padding: 0;
    position: sticky;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    border: none;
    background-color: $modalBgColor;
    float: right;

    &-btn {
      width: 30px;
      height: 30px;
    }
  }

  &--wrapper{
    padding: 48px 20px 41px;
  }

  &__btns {
    width: 112.58px;
    height: 44px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    background-color: $modalBgColor;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &--wrapper{
      display: flex;
      justify-content: center;
    }

    &:hover,
    &:active{
      background: $mainBgColor;
      border-color: $mainBgColor;
      color: #fff;
    }
  }
}

.movie {
  &__image {
    max-width: max-content;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    @include size(20px);
    line-height: 1.15;
    text-transform: uppercase;
  }

  &__details {
    margin-bottom: 20px;
  }

  &__label {
    margin-bottom: 10px;
    font-weight: 500;
    @include size(12px);
    line-height: 1.333;
    text-transform: uppercase;
  }

  &__about {
    margin-bottom: 20px;
    font-weight: 500;
    @include size(12px);
    line-height: 1.667;
    text-align: justify;
  }
}

.details {
  &__item {
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 18px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__label {
    display: block;
    font-weight: 500;
    @include size(12px);
    line-height: 1.333;
    color: $modalLabelFontColor;
  }

  &__value {
    font-weight: 500;
    @include size(12px);
    line-height: 1.167;
  }

  &__rating {
    padding: 1px 10px;
    color: #fff;
    background-color: $mainBgColor;
    border-radius: 5px;
  }

  &__title {
    text-transform: uppercase;
  }
}

@media screen and(min-width: 768px) {
  .main-backdrop {
    padding: 0;
  }
  
  .modal {
    width: 618px;
    height: auto;
  
    &--wrapper{
      padding: 42px 30px 40px 28px;
    }
  
    &__btns {
      width: 125px;
  
      &--wrapper{
        justify-content: right;
      }
    }
  }
  
  .movie {
    &__card {
      &--wrapper {
        display: flex;
      }
    }

    &__image {
      align-self: flex-start;
      width: 264px;
      height: auto;
      margin-bottom: 0;
      margin-right: 32px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    width: 882px;
  
    &--wrapper{
      padding: 50px 30px 40px;
    }
  
    &__btns {
      width: 136px;

      &--wrapper{
        justify-content: left;
      }
    }
  }
  
  .movie {
    &__image {
      max-width: 396px;
      width: 100%;
      height: auto;
      margin-right: 30px;
    }

    &__info {
      max-width: 396px;
      width: 100%;
    }
  }

  .details {
    &__item {
      gap: 62px;
    }
  }
}