// Mobile first
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 28.5px;
  padding-bottom: 29.5px;
  background-color: #f7f7f7;

  &__copyright {
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    color: #545454;
    
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  
  &__image {
    display: inline-block;
    width: 14px;
    height: 12px;
  }
  
  &__link {
    color: inherit;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 28px;

    &__copyright {
      display: inline;
      font-size: 16px;
      line-height: 1.188;
      
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}