@import '../../scss/mixin';
@import '../../scss/variables';
// Mobile first
.footer {
  padding-top: 28.5px;
  padding-bottom: 29.5px;
  background-color: $footerBgColor;

  &__copyright {
    @include size(14px);
    line-height: 1.143;
    text-align: center;
    color: $footerFontColor;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__image {
    display: inline-block;
    width: 14px;
    height: 12px;
  }

  &__link {
    color: inherit;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 28px;

    &__wrapper {
      display: flex;
      justify-content: center;
    }
    &__copyright {
      display: inline;
      @include size(16px);
      line-height: 1.188;

      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 4px;
      }
    }
  }
}