body {
  box-sizing: border-box;
  // font-family: $mainFont;
  // font-size: $mainFontSize;
  // color: $mainFontColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}