//font variables
$mainFont: 'Roboto', sans-serif;
$fontColor: #000000;
$mainFontColor: #ff6b08;
$secondFontColor: #ffffff;
$footerFontColor: #545454;
$modalLabelFontColor: #8c8c8c;
$mainFontWieght: 500;
$secondFontWieght: 400;

//background color variables
$mainBgColor: #ff6b08;
$bodyBgColor: #ffffff;
$footerBgColor: #f7f7f7;
$headerBgColor: #979797;
$modalBgColor: #ffffff;
$paginationBgColor: #ffffff;
$paginationBntBgColor: #f7f7f7;

//movie card variables M-mobile, T-tablet, D-desktop
$movieCardWidthM: 280px;
$movieCardWidthT: 294px;
$movieCardWidthD: 274px;

// Loader color variations
$loader-color-main: #fff;
$loader-color-modal: #000;

//shadow
$modalShadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$libraryBntShadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
