$mainFont: 'Roboto', sans-serif;
$mainFontColor: #ff6b08;
$mainBgColor: #ff6b08;
$bodyBgColor: #E5E5E5;
$footerBgColor: #f7f7f7;
$footerFontColor: #545454;
$headerBgColor: #979797;
$modalBgColor: #ffffff;
$modalLabelFontColor: #8C8C8C;
$paginationBgColor: #e5e5e5;
$paginationBntBgColor: #f7f7f7;
