@import './mixin';
@import './variables';

@keyframes flash {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.movies {
  padding-top: 20px;
  padding-bottom: 20px;

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

.item {
  width: $movieCardWidthM;
  min-height: 440px;
  margin-bottom: 20px;
  cursor: pointer;

  &__image {
    width: 100%;
    height: 402px;
    border-radius: 5px;
    &:hover {
      opacity: 1;
      animation: flash 1.8s;
    }
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 3px;
    @include size(12px);
    line-height: 1.333;
    text-transform: uppercase;
  }

  &__genres,
  &__separator,
  &__year {
    display: inline;   
    @include size(12px);
    line-height: 1.172;
    font-weight: $mainFontWieght;
    color: $mainFontColor;
  }

  &__rating {
    display: inline;
    font-weight: $mainFontWieght;
    @include size(12px);
    line-height: 1.16;
    color: $secondFontColor;
    background-color: $mainBgColor;
    text-align: center;
    width: 36px;
    height: 16px;
    border-radius: 5px;
    padding: 1px 6px;
    margin-left: 10px;
  }
}

@media screen and(min-width: 768px) and (max-width: 1023px) {
  .movies {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .item {
    width: $movieCardWidthT;
    margin-bottom: 30px;

    &:not(:nth-child(2n)) {
      margin-right: 20px;
    }

    &__image {
      width: 100%;
      height: 398px;
    }
  }
}

@media screen and(min-width: 1024px) {
  .movies {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .item {
    width: $movieCardWidthD;
    margin-bottom: 30px;

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
}
